body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(11, 59, 39);
  border-radius: 0;
  border-bottom: 1.5px solid rgb(11, 59, 39);
}

/* .description {
  white-space: pre-wrap;
} */

/* .time-block {
  text-align: center;
  border-radius: 15px;
} */

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: rgb(11, 59, 39);
  border-top: solid 0.25px rgb(235, 207, 212);
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

.past {
  background-color: rgba(197, 188, 177, 0.829);
  color: white;
}

.present {
  background-color: #a6c4d6;
  color: white;
}

.future {
  background-color: #e2e1b1;
  color: white;
}

/* .saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #c3ced1;
  color: white;
  border: solid 1px black;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */

/* css comment outs are styles that weren't used. */